.hero-section {
  text-align: center;
  padding: 120px 30px;
}

.hero-img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 25px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);
}

.hero-section h1 {
  font-size: 42px;
  font-weight: 700;
}

.hero-section p {
  margin-top: 10px;
  font-size: 18px;
  color: var(--muted);
}

/* Mobile */
@media(max-width: 600px) {
  .hero-section h1 {
    font-size: 32px;
  }
}
