.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.card {
  background: var(--card-bg);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px #00000025;
  margin-bottom: 40px;
}
